<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>用户注册</title>
    <style type="text/css">
        form {
            width: 100%;
            height: 800px;
            margin-top: 0px;
            {#background: #008B8B;#}
        }

        div {
            display: inline-block;
            padding-top: 80px;
            padding-right: 20px;
        }

        h2 {
            font-family: "微软雅黑";
            font-size: 40px;
            color: black;
        }

        #log {
            color: blue;
        }
    </style>
</head>
<body style="background-image: url('assets/img/shop/background.jpg');background-size: 100%">
<form action="/api/register" method="POST">
    <center>
        <div>
            <h2 class="form-register-heading"> 欢迎注册凤凰商城 </h2>
            用户名：<input type="text" name="username" class="input-block-level" placeholder="请输入用户名">
            <br/>
            <br/>
            密　码：<input type="password" name="password" class="input-block-level" placeholder="请输入密码">
            <br/>
            <br/>
            验　证：<input type="password" name="rePassword" class="input-block-level" placeholder="请再次输入密码">
            <br/>
            <br/>
            <button style="width:90px;height:30px;" type="submit">注册</button>
            <br/>
            <br/>
            已有账号，去登录--><a href="/login">立即登录</a>
            <br/>
            <h3>{{ dict_old }}</h3>
        </div>
    </center>
</form>
</body>
</html>